<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <font color="blue">Title</font><br/>
        <input type="text" name="title"><br/>
    <br/>Body</br>
        <input type="text" name="body"></br>
        <br/><button type="submit" ><font color="red">Upload content</font></button>
    </form>
</body>
</html>